$primary: #f46158;
$black: #36312e;
$white: white;
$gray: #36312e;
$light-orange: #f9f3eb;
$light-purple: #f8f1ff;
$light-brown: #f8f1ff;
// Components
.button {
    padding: 1.2rem;
    &.white {
        background: $white;
        color: black;
    }
    &.black {
        background: $black;
        color: white;
    }
    &.primary {
        background: $primary;
        color: white;
    }
}

.light-orange {
    background: $light-orange;
}

.light-purple {
    background: $light-purple;
}

.light-brown {
    background: $light-brown;
}

.primary {
    background: $primary;
}

.secondary {
    background: $black;
}

// Sections
.header {
    background: #f0e6e2;
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 2.8rem 2rem;
        .logo {
            &__title {
                font-size: 1.4rem;
            }
        }
        .navbar {
            display: flex;
            list-style: none;
            font-size: 1rem;
            .nav-element {
                padding-right: 2rem;
                &:last-of-type {
                    padding-right: 0;
                }
                a {
                    text-decoration: none;
                }
                .link {
                    color: $gray;
                }
            }
        }
    }
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem;
        &__title {
            font-size: 4rem;
        }
    }
    .action__container {
        display: flex;
        padding: 2rem 0;
        .partner__container {
            display: flex;
            padding: 0 2rem;
            flex: 1;
            .partner {
                width: 100px;
                margin-right: 2rem;
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
        .search__container {
            flex: 2;
            display: flex;
            justify-content: flex-end;
            background-color: $white;
            input {
                flex: 2;
                border: none;
                outline: none;
                padding: 0.7rem;
            }
            select {
                flex: 1.3;
                border: none;
                margin: 1rem;
                border-left: 0.5px solid #999;
                outline: none;
                padding: 0.7rem;
            }
            button {
                flex: 0.7;
                border: none;
                padding: 0.7rem;
                outline: none;
            }
        }
    }
}

.companies {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 4rem;
    .company {
        width: 100px;
        opacity: 0.8;
    }
}

.explore {
    padding: 2rem;
    &__header {
        padding: 2rem 0;
    }
    &__title {
        font-size: 1.5rem;
    }
    &__cards {
        list-style: none;
        display: flex;
        justify-content: space-around;
        .card {
            padding: 2rem;
            font-size: 1rem;
            width: 200px;
            height: 200px;
            &.white {
                color: $white;
            }
        }
    }
}

.job {
    margin: 2rem 0 0;
    padding: 1rem;
    padding-bottom: 5rem;
    background-color: #f0e6e2;
    color: $gray;
    &__header {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
    }
    &__subtitle {
        color: red;
    }
    &__title {
        font-size: 1.5rem;
    }
    .button {
        font-size: 1rem;
    }
    &__cards {
        margin: 0 3rem;
        overflow-x: hidden;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        .card {
            margin: 1rem;
            background-color: $white;
            padding: 2rem;
            font-size: 1.2rem;
            width: 300px;
            height: 200px;
            hr {
                margin: 0.7rem 0;
                background-color: #999;
            }
        }
    }
}

.collab {
    background: linear-gradient(#f0e6e2 60%, white);
    display: flex;
    flex-flow: row;
    &__header {
        flex: 1;
        margin-right: 7rem;
        padding: 1rem;
        text-align: right;
    }
    &__subtitle {
        color: red;
    }
    &__title {
        font-size: 2.4rem;
    }
    &__image {
        position: relative;
        #img1 {
            z-index: 2;
            position: absolute;
            top: 3rem;
            left: 13rem;
        }
        #img2 {
            z-index: 3;
            position: absolute;
            left: -2rem;
            top: 10rem;
        }
        #img3 {
            z-index: 4;
            position: absolute;
            left: 13rem;
            top: 20rem;
        }
    }
    &__content {
        flex: 1;
        display: flex;
        flex-flow: column;
        background-color: $white;
        padding: 4rem 1.5rem;
        box-shadow: 1px 1px 2px grey;
        .box {
            flex: 1;
            margin-bottom: 1rem;
            padding: 1rem;
            box-shadow: 0px 0px 2px grey;
            h2 {
                font-size: 1.2rem;
                border-bottom: 1.5rem;
            }
            p {
                font-size: 0.8rem;
            }
            &:hover {
                background-color: #f7f1ef;
                transform: scale(1.1);
                z-index: 4;
            }
        }
    }
}

.footer {
    .jobsearch {
        background-image: url("./../images/b.jpg");
        opacity: 0.9;
        margin: 2rem auto;
        margin-top: 10rem;
        width: 60vw;
        height: 50vh;
        padding: 2rem;
        &__desc {
            width: fit-content;
            margin: 2rem auto;
            font-size: 1.2rem;
            color: white;
        }
        &__search {
            padding: 1rem;
            margin: 0 auto;
            display: flex;
            width: 20vw;
            input {
                padding: 1rem;
                flex: 1;
                border: none;
                outline: none;
            }
            button {
                border: none;
                outline: none;
                flex: 0.7;
            }
        }
    }
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 2.8rem 2rem;
        .logo {
            &__title {
                font-size: 1rem;
            }
        }
        .navbar {
            display: flex;
            list-style: none;
            font-size: 0.8rem;
            .nav-element {
                padding-right: 2rem;
                &:last-of-type {
                    padding-right: 0;
                }
                a {
                    text-decoration: none;
                }
                .link {
                    color: $gray;
                }
            }
        }
    }
}