.button {
  padding: 1.2rem;
}

.button.white {
  background: white;
  color: black;
}

.button.black {
  background: #36312e;
  color: white;
}

.button.primary {
  background: #f46158;
  color: white;
}

.light-orange {
  background: #f9f3eb;
}

.light-purple {
  background: #f8f1ff;
}

.light-brown {
  background: #f8f1ff;
}

.primary {
  background: #f46158;
}

.secondary {
  background: #36312e;
}

.header {
  background: #f0e6e2;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.8rem 2rem;
}

.header .nav .logo__title {
  font-size: 1.4rem;
}

.header .nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 1rem;
}

.header .nav .navbar .nav-element {
  padding-right: 2rem;
}

.header .nav .navbar .nav-element:last-of-type {
  padding-right: 0;
}

.header .nav .navbar .nav-element a {
  text-decoration: none;
}

.header .nav .navbar .nav-element .link {
  color: #36312e;
}

.header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
}

.header .hero__title {
  font-size: 4rem;
}

.header .action__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
}

.header .action__container .partner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .action__container .partner__container .partner {
  width: 100px;
  margin-right: 2rem;
}

.header .action__container .partner__container .partner:last-of-type {
  margin-right: 0;
}

.header .action__container .search__container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: white;
}

.header .action__container .search__container input {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border: none;
  outline: none;
  padding: 0.7rem;
}

.header .action__container .search__container select {
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
  border: none;
  margin: 1rem;
  border-left: 0.5px solid #999;
  outline: none;
  padding: 0.7rem;
}

.header .action__container .search__container button {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  border: none;
  padding: 0.7rem;
  outline: none;
}

.companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem 4rem;
}

.companies .company {
  width: 100px;
  opacity: 0.8;
}

.explore {
  padding: 2rem;
}

.explore__header {
  padding: 2rem 0;
}

.explore__title {
  font-size: 1.5rem;
}

.explore__cards {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.explore__cards .card {
  padding: 2rem;
  font-size: 1rem;
  width: 200px;
  height: 200px;
}

.explore__cards .card.white {
  color: white;
}

.job {
  margin: 2rem 0 0;
  padding: 1rem;
  padding-bottom: 5rem;
  background-color: #f0e6e2;
  color: #36312e;
}

.job__header {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job__subtitle {
  color: red;
}

.job__title {
  font-size: 1.5rem;
}

.job .button {
  font-size: 1rem;
}

.job__cards {
  margin: 0 3rem;
  overflow-x: hidden;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.job__cards .card {
  margin: 1rem;
  background-color: white;
  padding: 2rem;
  font-size: 1.2rem;
  width: 300px;
  height: 200px;
}

.job__cards .card hr {
  margin: 0.7rem 0;
  background-color: #999;
}

.collab {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #f0e6e2), to(white));
  background: linear-gradient(#f0e6e2 60%, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.collab__header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 7rem;
  padding: 1rem;
  text-align: right;
}

.collab__subtitle {
  color: red;
}

.collab__title {
  font-size: 2.4rem;
}

.collab__image {
  position: relative;
}

.collab__image #img1 {
  z-index: 2;
  position: absolute;
  top: 3rem;
  left: 13rem;
}

.collab__image #img2 {
  z-index: 3;
  position: absolute;
  left: -2rem;
  top: 10rem;
}

.collab__image #img3 {
  z-index: 4;
  position: absolute;
  left: 13rem;
  top: 20rem;
}

.collab__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: white;
  padding: 4rem 1.5rem;
  -webkit-box-shadow: 1px 1px 2px grey;
          box-shadow: 1px 1px 2px grey;
}

.collab__content .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 2px grey;
          box-shadow: 0px 0px 2px grey;
}

.collab__content .box h2 {
  font-size: 1.2rem;
  border-bottom: 1.5rem;
}

.collab__content .box p {
  font-size: 0.8rem;
}

.collab__content .box:hover {
  background-color: #f7f1ef;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 4;
}

.footer .jobsearch {
  background-image: url("./../images/b.jpg");
  opacity: 0.9;
  margin: 2rem auto;
  margin-top: 10rem;
  width: 60vw;
  height: 50vh;
  padding: 2rem;
}

.footer .jobsearch__desc {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto;
  font-size: 1.2rem;
  color: white;
}

.footer .jobsearch__search {
  padding: 1rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
}

.footer .jobsearch__search input {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  outline: none;
}

.footer .jobsearch__search button {
  border: none;
  outline: none;
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

.footer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.8rem 2rem;
}

.footer .nav .logo__title {
  font-size: 1rem;
}

.footer .nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 0.8rem;
}

.footer .nav .navbar .nav-element {
  padding-right: 2rem;
}

.footer .nav .navbar .nav-element:last-of-type {
  padding-right: 0;
}

.footer .nav .navbar .nav-element a {
  text-decoration: none;
}

.footer .nav .navbar .nav-element .link {
  color: #36312e;
}
/*# sourceMappingURL=page.css.map */